<h2>Search Author</h2>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>
<br>
{{#each authors}}
<div>{{name}}</div>
<a href="/authors/{{id}}">view</a>
<a href="/authors/{{id}}/edit">Edit</a>
<form action="/authors/{{id}}?_method=DELETE" method="POST" >
<input type="hidden" value='{{../csrfToken}}' name='_csrf'>
    <button type="submit">DELETE</button>
</form>
{{/each}}