<h2>{{author.name}}</h2>
<a href="/authors/{{author.id}}/edit">Edit</a>
<form action="/authors/{{author.id}}?_method=DELETE" method="POST" >
    <button type="submit">DELETE</button>
<input type="hidden" value='{{csrfToken}}' name='_csrf'>
</form>
<h2>Books by {{author.name}}</h2>
<div>
{{#if books}}
    {{#each books}}
        <a href="/books/{{id}}"><img height="400" width="550" src="{{coverImagePath }}"></a>
    {{/each}}
{{else}}
<h2>NO BOOKS TO THIS AUTHOR!</h2>
{{/if}}
</div>